.bandeau-ctn {
    overflow: hidden;
    display: flex;
    .bandeau {
        display: flex;
        justify-content: space-between;
        animation: scrollPart 25s linear infinite;
        & > * {
            margin-left: 6rem;
            @media screen and (max-width : 768px) {
                margin-left: 3em;
            }
            @media screen and (min-width : 1600px) {
                margin-left: 9em;
            }
        }
    }
}

@keyframes scrollPart {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-100%, 0);
    }
}