.bandeau-ctn {
    overflow: hidden;
    display: flex;
    .bandeau {
        display: flex;
        justify-content: space-between;
        animation: scrollPart 20s linear infinite;
        & > * {
            margin-left: 6rem;
        }
    }
}

@keyframes scrollPart {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-100%, 0);
    }
    
}